{% extends 'user.html.twig' %}

{% block body %}
<div id="panel_body">
  <form action="{{ path('change_password') }}" method="POST" >
    <div class="form">
      <label for="Oldpassword">Password:</label>
      <input type="password" id="oldpassword" name="oldpassword">
      <span id="oldpasswordInfo"></span>
    </div>
    <div class="form">
      <label for="Newpassword">New Password:</label>
      <input type="password" id="newpassword" name="newpassword">
      <span id="newpasswordInfo"></span>
    </div>
    <div class="form">
      <label for="repeatnewpassword">Repeat new password:</label>
      <input type="password" name="repeatnewpassword" id="repeatnewpassword" />
      <span id="repeatnewpasswordInfo"></span>
    </div>
    <div class="button_form">
      <input type="submit" name="changepassword" id="changepassword" value="Change password">
    </div>
  </form>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/changepassword.css') }}"/>
{% endblock %}
