#panel_body{
    margin-top: 20px;
    background: -webkit-linear-gradient(45deg, #bbb 10%, #dee 90%);
    margin: 0 auto;
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.form label{
  padding: 1px 10px;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
.form input{
  padding: 2px 2px;
  margin-left: 15px;
  margin-bottom: 20px;
  height: 25px;
  width: 270px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
}

.panel_register_form{
  display: none;
}
.button_form{
  height: 70px;
  background: -webkit-linear-gradient(45deg, #FFCC99 10%, #EAEAAE 90%);

}
.button_form input{
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid: #0000cc;
  font-size: 20px;
  font-style: italic;
  background: #0000CC;
  color: #fff;
  height: 45px;
  width: 180px;
  -webkit-transition: width 1s, background 1s;
}
.button_form input:hover{
  width: 250px;
  background: -webkit-linear-gradient(45deg, #222 20%, #464646 80%);
}
.form input.error{
  background: #ffb3b3;
}
.form span.error{
  color: #ffb3b3;
}
.form input.validate{
  background: #66FF99;
}
.form span.validate{
  color: #66FF99;
}
